body{
    background-color:rgb(255, 249, 249);
}
.container9{
    background-color:#fff;
    width: 640px;
    height: 650px;
    margin: 0 auto;
    position: relative
    max-top: 10%;
    box-shadow:2px 5px 20px rgba(119,119,119,.5);

}
.accountinfos{
    width: 65%;
    margin-left: 28%;
}
.accountinfo{
    font-family:  sans-serif;
    color: crimson;
    font-size: 1.7rem;
    margin-top: 41px;
    margin-bottom: 36px;
}
.fstname{
  font-family: sans-serif;
  text-transform: capitalize;
  color: rgb(129, 129, 129);
  letter-spacing: 1px;
  margin-top: 10px;
  margin-left: 2px;;
  font-size: 14px;
}
.adressa{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(129, 129, 129);
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 2px;;
    font-size: 14px;
  }
  .lstname{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(129, 129, 129);
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 2px;;
    font-size: 14px;
  }
  .emala{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(129, 129, 129);
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 2px;;
    font-size: 14px;
  }
  .ordera{
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(129, 129, 129);
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 2px;;
    font-size: 14px;
  }
.accountinfos input{
border: 0;
border-bottom: 1px solid crimson;
width: 80%;
font-family: sans-serif;
font-size: .7em;
padding: 7px 0;
color: #070707;
outline: none;;
}
.btn1{
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    color:#fff;
    background: crimson;
    padding: 7px 15px;
    cursor: pointer;
}
